.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.offers h3 {
  font-size: 40px;
  font-weight: normal;
  font-family: sans-serif;
}

.offers p {
  color: #7a838e;
}

.offers p a, .offers a.button:any-link, .offers button {
  color: #eb0017;
  background: #FFF;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
