footer {
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .columns img {
  width: auto !important;
}

footer .default-content-wrapper {
  border-top: 1px solid lightgray;
  margin-top: 50px;
  padding-top: 18px;
  color: #7a838e;
}

footer .columns-5-cols div {
  min-height: 150px;
}


@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
